@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .container {
  max-width: 1285px;
  margin: 0 auto;
  padding: 0 20px;
}
header a {
  text-decoration: none;
}
header input {
  outline: none;
}
header button {
  border: none;
}
header ul {
  list-style: none;
}
header .top-header {
  padding: 13px 0;
  background: #000;
}
header .top-header #dd {
  background: #000;
  color: #fff;
  border: none;
}
header .top-header .head-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .top-header .head-top a:nth-child(1),
header .top-header .head-top a:nth-child(2) {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 12%;
  text-align: left;
}
header .top-header .head-top a:nth-child(2) {
  justify-content: end;
  text-decoration-line: underline;
}
header .bottom-header {
  position: sticky;
  top: 0;
}
header .bottom-header .navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  transition: all 0.5s linear;
}
header .bottom-header .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1100px;
  width: 100%;
  margin-left: 40px;
}
header .bottom-header .navbar .logo .sm-logo {
  display: none;
}
header .bottom-header .navbar .logo #idlg {
  margin-left: -65px;
}
header .bottom-header .navbar .logo a h1 {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.4px;
}
header .bottom-header .navbar .logo .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  padding-left: 70px;
}
header .bottom-header .navbar .logo .nav-link ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .bottom-header .navbar .logo .nav-link ul li a {
  /* Title/16PX Regular */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
header .bottom-header .navbar .logo .nav-link .buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}
header .bottom-header .navbar .logo .nav-link .buttons form {
  display: flex;
  align-items: center;
}
header .bottom-header .navbar .logo .nav-link .buttons form input {
  width: Hug 243px px;
  height: Hug 38px px;
  padding: 7px 12px 7px 20px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  outline: none;
  border: #F5F5F5;
  background: F5F5F5;
}
header .bottom-header .navbar .logo #navbar-responsive.open {
  right: 0;
}
header .bottom-header .navbar .logo .menu-btn {
  border: 0;
  background: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 1120px) {
  header .bottom-header .navbar .logo .nav-link {
    width: 670px;
  }
}
@media (max-width: 900px) {
  header .bottom-header .navbar .logo .nav-link {
    flex-direction: column;
    gap: 40px;
  }
  header .bottom-header .navbar .logo .nav-link ul {
    flex-direction: column;
  }
  header .bottom-header .navbar .logo .nav-link .buttons {
    flex-direction: column;
    text-align: center;
  }
  header .bottom-header .navbar .logo #navbar-responsive {
    position: fixed;
    right: -100%;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 0.5s linear;
  }
  header .bottom-header .navbar .logo .sm-logo {
    display: inline;
  }
  header .bottom-header .navbar .logo .lg-logo {
    display: none;
  }
  header .bottom-header .navbar .logo .menu-btn {
    display: flex;
  }
  header .bottom-header .navbar .logo .responsive {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
header .bottom-header #navbar-responsive {
  top: 120px;
}
header .bottom-header .navbar-shrink {
  padding: 6px 0;
}
header .bottom-header .navbar-shrink #navbar-responsive {
  top: 62px;
}
header .fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
}
header .fixed #navbar-responsive {
  top: 90px;
}

body {
  padding-top: 80px;
  overflow-x: hidden;
}
body .container1 {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
body .bd-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 180px;
  margin-left: -68px;
  width: 100%;
  max-width: 1200px;
  top: 172px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
  background: #000000;
}
body .bd-1 .apl {
  margin-top: -20px;
}
body .bd-1 .apl .ap {
  /* Title/16PX Regular */
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 58px;
  padding-left: 64px;
  color: rgb(250, 250, 250);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
body .bd-1 .apl .tx {
  /* Heading/48PX SemiBold */
  color: rgb(250, 250, 250);
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 4%;
  padding-top: 34px;
  padding-left: 64px;
}
body .browse {
  max-width: 1200px;
  height: 344px;
  margin-top: 94px;
  margin-left: -60px;
}
body .browse .cate {
  display: flex;
  align-items: center;
  gap: 16px;
}
body .browse h6 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-top: 35px;
}
body .cards {
  margin-left: -65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: -150px;
}
body .cards .card {
  width: 170px;
  height: 145px;
  padding: 25px 56px 24px 55px;
  gap: 25px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
}
body .cards .card:hover {
  background: #DB4444;
}
body .cards .card p {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
body .bts {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  left: 1010px;
  top: -250px;
}
body .bts button {
  /* Secondary */
  background: rgb(245, 245, 245);
  border-radius: 50px;
  width: 46px;
  height: 46px;
}
body .api-cards {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-left: -70px;
  margin-top: -140px;
}
body .api-cards .product-card {
  width: 270px;
  height: 300px;
  gap: 16px;
  opacity: 0px;
  border-radius: 4px;
  background: rgb(245, 245, 245);
}
body .api-cards .product-card:hover {
  box-shadow: 30px 25px 30px rgba(0, 0, 0, 0.1);
}
body .api-cards .product-card img {
  transform: translate(45%, 20%);
  width: 150px;
  height: 180px;
}
body .api-cards .product-card #heart {
  /* Primary */
  background: rgb(255, 255, 255);
  width: 34px;
  height: 34px;
  position: relative;
  left: 60px;
  top: -120px;
}
body .api-cards .product-card #koz {
  background: rgb(255, 255, 255);
  width: 34px;
  height: 34px;
  position: relative;
  left: 22px;
  top: -80px;
}
body .api-cards .product-card .star h6 {
  /* styleName: Title/16PX Medium; */
  /* Title/16PX Medium */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
body .rey {
  display: flex;
  align-items: center;
  gap: 8px;
}
body .rey #r2 {
  color: rgb(219, 68, 68);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
body #h33 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
body .btr {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}
body .btr button {
  width: Hug 234px px;
  height: Hug 56px px;
  padding: 16px 48px 16px 48px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #DB4444;
  color: #fff;
  border: none;
  cursor: pointer;
}
body .btr button:focus {
  background: #f98b8b;
}
body .catigories {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -50px;
  width: 1170px;
  background: rgb(0, 0, 0);
  margin-bottom: 200px;
}
body .catigories .your p {
  padding-top: 69px;
  padding-left: 56px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #00FF66;
}
body .catigories .your #enh {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
}
body .beg {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 45px;
  padding-top: 32px;
}
body .beg .sricle {
  width: 62px;
  height: 62px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
}
body .beg .sricle p {
  /* Title/16PX Semibold */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  padding-top: 7px;
}
body .beg .sricle #day {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}
body .bth {
  padding-left: 46px;
  padding-top: 75px;
  padding-bottom: 69px;
}
body .bth button {
  width: Hug 171px px;
  height: Hug 56px px;
  top: 375px;
  left: 56px;
  padding: 16px 48px 16px 48px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #00FF66;
  color: #fff;
  cursor: pointer;
}
body .bth button:hover {
  background: #7bffb2;
}
body .fot-bt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
  margin-top: -102px;
  width: 1170px;
  height: 768px;
}
body .fot-bt .play-st {
  width: 768px;
  height: 660px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #000;
  padding-left: 50px;
  margin-top: -120px;
}
body .fot-bt .play-st h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  padding-bottom: 16px;
}
body .fot-bt .play-st p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #fff;
  padding-bottom: 72px;
}
body .fot-bt .play-st button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
  color: #fff;
  border: none;
  background: none;
}
body .wm {
  padding-left: 30px;
  margin-top: -104px;
}
body .wm .wmn .ert {
  margin-top: -150px;
  margin-left: 20px;
}
body .wm .wmn img {
  width: 570px;
  margin-top: -20px;
}
body .wm .wmn h3 {
  /* Heading/24PX SemiBold */
  color: rgb(250, 250, 250);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  padding-bottom: 16px;
  color: #fff !important;
}
body .wm .wmn p {
  /* Title/14PX Regular */
  color: rgb(250, 250, 250);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 16px;
}
body .wm .wmn button {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}
body .dyn {
  margin-top: -5px;
}
body .dyn .speak {
  width: 270px;
  height: 264px;
  margin-top: 50px;
  border-radius: 4px;
  padding-top: 31px;
  padding-left: 40px;
  /* Text2 */
  background: rgb(0, 0, 0);
}
body .dyn .speak img {
  width: 190px;
}
body .bef {
  margin-top: -100px;
  margin-left: -20px;
}
body .bef h3 {
  /* Heading/24PX SemiBold */
  color: rgb(250, 250, 250);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
}
body .bef p {
  /* Title/14PX Regular */
  color: rgb(250, 250, 250);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
}
body .ppq {
  margin-top: -315px;
  margin-left: 300px;
}

.wrr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 140px;
  margin-top: -70px;
  margin-left: -20px;
  padding-bottom: 140px;
}
.wrr .tel {
  padding-top: 152px;
  margin-left: -178px;
  max-width: 919px;
}
.wrr .login {
  margin-top: -10px;
}
.wrr .enter {
  padding-top: -180px;
}
.wrr .enter h3 {
  /* Heading/36PX Medium */
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 4%;
  text-align: left;
  padding-bottom: 24px;
}
.wrr .enter p {
  /* Title/16PX Regular */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 48px;
}
.wrr form #text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border: none;
  padding-bottom: 18px;
  outline: none;
}
.wrr form #pass {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border: none;
  padding-bottom: 18px;
  outline: none;
}
.wrr form .line {
  /* Line 1 */
  width: 270px;
  height: 0;
  left: 0;
  top: -0.5px;
  /* Text2 */
  border: 1px solid rgb(0, 0, 0);
}
.wrr .rtn {
  display: flex;
  align-items: center;
  gap: 57px;
  padding-top: 40px;
}
.wrr .rtn button {
  width: Hug 143px px;
  height: Hug 56px px;
  padding: 16px 48px 16px 48px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: rgb(219, 68, 68);
  color: #fff;
  border: none;
}
.wrr .rtn a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #DB4444;
}

.admin {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
}
.admin .ad-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 800px;
}
.admin .ad-top a {
  text-decoration: none;
  color: #000;
  /* Title/14PX Regular */
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.admin .ad-top a:hover {
  color: gray;
}
.admin .ad-top #aq {
  color: gray;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.admin .ad-top #aq:hover {
  color: #000;
}
.admin .well {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.admin .well #aw {
  color: red;
  /* Title/14PX Regular */
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.admin .myaccaunt {
  padding-top: 44px;
  padding-left: -100px;
}
.admin .myaccaunt h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-bottom: 16px;
  cursor: pointer;
}
.admin .myaccaunt .myp {
  padding-left: 40px;
}
.admin .myaccaunt .myp p {
  /* Title/16PX Regular */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: gray;
  padding-bottom: 8px;
  cursor: pointer;
}
.admin .myaccaunt .myp p:hover {
  color: rgb(219, 68, 68);
}
.admin .edit {
  margin-left: 334px;
  margin-top: -280px;
  width: 870px;
  height: 630px;
  top: 323px;
  left: 435px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}
.admin .edit p {
  padding-top: 40px;
  padding-left: 80px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #DB4444;
}
.admin .edit #fr-ln {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 36px;
}
.admin .edit #fr-ln input {
  width: 330px;
  height: 50px;
  gap: 0px;
  opacity: 0px;
  outline: none;
  border-radius: 4px;
  background: rgb(245, 245, 245);
  border: none;
}
.admin .edit #fr-ln #la {
  margin-top: -75px;
  position: relative;
  left: 85px;
  /* Title/16PX Regular */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.admin .edit #fr-ln #laa {
  position: relative;
  top: -40px;
  left: 85px;
  /* Title/16PX Regular */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.admin .ints {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
}
.admin .ints form h5 {
  margin-top: 20px;
  padding-left: 4px;
  /* Title/16PX Regular */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.admin .ints form input {
  width: 710px;
  height: 50px;
  border-radius: 4px;
  background: rgb(245, 245, 245);
  outline: none;
  border: none;
  margin-bottom: 16px;
}
.admin .ints .cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-left: 340px;
  padding-bottom: 180px;
}
.admin .ints .cancel p {
  /* Title/16PX Regular */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.admin .ints .cancel button {
  margin-top: 15px;
  width: 214px;
  height: 56px;
  border-radius: 4px;
  background: rgb(219, 68, 68);
  border: none;
  color: #fff;
}

.rop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 99px;
  padding-bottom: 150px;
}
.rop .rop1 img {
  padding-bottom: 15px;
  padding-left: 80px;
}
.rop .rop1 h3 {
  /* Title/20PX Semibold */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 8px;
}
.rop .rop1 p {
  /* Title/14PX Regular */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: -150px;
  padding-bottom: 150px;
  padding-right: 80px;
  width: clamp(400px, 100%, 1200px);
}
.game .g1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-top: 100px;
}
.game .g1 img {
  background: #F5F5F5;
  width: 170px;
  height: 138px;
}
.game .g2 img {
  width: 450px;
  top: 323px;
  left: 335px;
  padding: 154px 27px 131px 27px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}
.game .havic {
  padding-top: 300px;
  padding-left: -200px;
}
.game .havic h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 16px;
}
.game .havic h6 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 97px;
  height: 24px;
  top: 400px;
  left: 905px;
  gap: 0px;
  opacity: 0px;
  padding-top: 13px;
  padding-bottom: 53px;
}
.game .havic p {
  width: 373px;
  height: 63px;
  top: 448px;
  left: 905px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding-bottom: 23px;
}
.game .havic .line {
  margin-top: 23px;
  /* Line 1 */
  width: 370px;
  height: 0;
  left: 0;
  top: -0.5px;
  /* Text2 */
  border: 1px solid rgb(0, 0, 0);
}
.game .havic .colur {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.game .havic .colur p {
  /* Heading/20PX Regular */
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
  text-align: left;
}
.game .havic .Size {
  display: flex;
  align-items: center;
}
.game .havic .Size p {
  /* Heading/20PX Regular */
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
  text-align: left;
}
.game .havic .btnss {
  display: flex;
  align-items: center;
  padding-left: 70px;
  margin-top: -65px;
  gap: 6px;
}
.game .havic .btnss button {
  width: 32px;
  height: 32px;
  padding: 6px 0px 6px 0px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: gray;
}
.game .havic .btnss button:hover {
  border-radius: 4px;
  color: #fff;
  background: rgb(219, 68, 68);
}
.game .havic .buy-gl {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.game .havic .buy-gl button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 48px 10px 48px;
  border-radius: 4px;
  background: rgb(219, 68, 68);
  border: none;
  color: #fff;
}
.game .havic .buy-gl button:hover {
  background: rgb(252, 85, 85);
  transform: scale(0.9);
}
.game .havic .buy-gl #lovee {
  width: 40px;
  height: 40px;
  top: 661px;
  left: 1265px;
  padding: 4px 0px 0px 0px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #fff;
  border: gray;
}
.game .havic .buy-gl #lovee:hover {
  background: red;
  color: #fff;
}
.game .havic .delivery-section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.game .havic .delivery-section .free-delivery, .game .havic .delivery-section .return-delivery {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  width: 399px;
}
.game .havic .delivery-section .free-delivery h2, .game .havic .delivery-section .return-delivery h2 {
  width: 199px;
}
.game .havic .delivery-section .free-delivery p, .game .havic .delivery-section .return-delivery p {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.game .havic .delivery-section .free-delivery p a, .game .havic .delivery-section .return-delivery p a {
  color: blue;
  text-decoration: none;
}
.game .havic .delivery-section .free-delivery p a:hover, .game .havic .delivery-section .return-delivery p a:hover {
  text-decoration: underline;
}

.uy {
  padding-top: 200px;
}

.backtop {
  position: fixed;
  right: 30px;
  bottom: -40px;
  z-index: 10;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  transition: 0.5s linear;
}
.backtop a {
  text-decoration: none;
  color: #000;
}

footer {
  background: #000;
  box-shadow: 0px 1px 0px 0px #c4cdd5 inset;
  padding: 50px 0 0;
}
footer .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
footer .top .links {
  max-width: 940px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
footer .top .links ul {
  list-style: none;
}
footer .top .links ul li {
  margin-bottom: 16px;
}
footer .top .links ul li h6 {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #c4cdd5;
}
footer .top .links ul li h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: white;
  margin-bottom: 24px;
}
footer .top .links ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}
footer .top .oop {
  padding-left: 100px;
}
footer .top .logos {
  display: flex;
  flex-direction: column;
}
footer .top .logos .icons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 144px;
}
footer .top .logos h4 {
  /* Heading/24PX Bold */
  color: rgb(250, 250, 250);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  padding-bottom: 24px;
}
footer .top .logos #q {
  /* Title/20PX Medium */
  color: rgb(250, 250, 250);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 48px;
}
footer .top .logos #q1 {
  /* Title/20PX Medium */
  color: rgb(250, 250, 250);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 16px;
}
footer .top .logos input {
  width: Fixed 217px px;
  height: Hug 48px px;
  padding: 12px 0px 12px 16px;
  gap: 32px;
  border-radius: 4px 0px 0px 0px;
  border: 1.5px 0px 0px 0px;
  opacity: 0px;
  box-sizing: border-box;
  border: 1.5px solid rgb(250, 250, 250);
  border-radius: 4px;
  background: #000;
  color: rgb(250, 250, 250);
  outline: none;
}
footer .hr {
  border: 1px solid #203646;
  margin-top: 20px;
}
footer .bottom {
  padding: 24px;
  margin: 0 auto;
}
footer .bottom h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: center;
  color: #9ea7af;
}
footer .bottom #save {
  /* Title/12PX Medium */
  color: rgb(250, 250, 250);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  color: #fff;
  /* Text */
  opacity: 0.7;
}
@media (max-width: 960px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .logos {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  footer .top .logos .icons {
    margin-top: 0;
  }
  footer .logos {
    display: none;
  }
  footer .browse {
    transform: translate(-50%, -50%) !important;
  }
  footer .bd-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  footer .top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  footer .logos {
    display: none;
  }
  footer .browse {
    text-align: center;
  }
  footer .browse {
    transform: translate(-50%, -50%) !important;
  }
  footer .bd-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 398px) {
  footer .top .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
  }
  footer .logos {
    display: none;
  }
  footer .browse {
    text-align: center;
  }
  footer .browse {
    transform: translate(-50%, -50%) !important;
  }
  footer .bd-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */