@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Poppins", sans-serif;

}

header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
  }

  a {
    text-decoration: none;
  }

  input {
    outline: none;
  }

  button {
    border: none;
  }

  ul {
    list-style: none;
  }

  .top-header {
    padding: 13px 0;
    background: #000;
    #dd{
      background: #000;
      color: #fff;
      border: none;
    }

    .head-top {
      display: flex;
      align-items: center;
      justify-content: space-around;

      a:nth-child(1),
      a:nth-child(2) {
        display: flex;
        justify-content: center;
        color: #fff;
        font-family: SF Pro Display;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 12%;
        text-align: left;
      }

      a:nth-child(2) {
        justify-content: end;
        text-decoration-line: underline;
      }
    }
  }

  .bottom-header {
    position: sticky;
    top: 0;

    .navbar {
      padding: 20px 0;
      display: flex;
      align-items: center;
      gap: 50px;
      justify-content: space-between;
      transition: all 0.5s linear;

      .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        max-width: 1100px;
        width: 100%;
        margin-left: 40px;
        .sm-logo {
          display: none;
        }
        #idlg{
          margin-left: -110px;
        }

        a {
          h1 {
            color: var(--Black, #0d0d0d);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Poppins;
            font-size: 23px;
            font-weight: 800;
            line-height: 140%;
            letter-spacing: 0.4px;
          }
        }

        .nav-link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 900px;

          ul {
            display: flex;
            align-items: center;
            gap: 24px;

            li {
              a {
            /* Title/16PX Regular */
color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
              }
            }
          }

          .buttons {
            display: flex;
            gap: 15px;
            align-items: center;
            form{
              display: flex;
              align-items: center;
              input{
                width: Hug (243px)px;
height: Hug (38px)px;
padding: 7px 12px 7px 20px;
gap: 10px;
border-radius: 4px;
opacity: 0px;
outline: none;
border:#F5F5F5;
background: F5F5F5;
            }
            }


              
            }
        }

        #navbar-responsive.open {
          right: 0;
        }

        .menu-btn {
          border: 0;
          background: #fff;
          cursor: pointer;
          display: none;
        }

        // MEDIA QUERIES
        @media (max-width: 1120px) {
          .nav-link {
            width: 670px;
          }
        }

        @media (max-width: 900px) {
          .nav-link {
            flex-direction: column;
            gap: 40px;

            ul {
              flex-direction: column;
            }

            .buttons {
              flex-direction: column;
              text-align: center;
              }
          }

          #navbar-responsive {
            position: fixed;
            right: -100%;
            height: 400px;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            transition: all 0.5s linear;
          }

          .sm-logo {
            display: inline;
          }

          .lg-logo {
            display: none;
          }

          .menu-btn {
            display: flex;
          }

          .responsive {
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }
      }
    }

    #navbar-responsive {
      top: 120px;
    }

    .navbar-shrink {
      padding: 6px 0;

      #navbar-responsive {
        top: 62px;
      }
    }
  }

  .fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;

    #navbar-responsive {
      top: 90px;
    }
  }
}
body {
  padding-top: 80px;
  overflow-x: hidden;
  .container1{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
  }
  .bd-1{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 180px;
    margin-left: -68px;
    // width: 100%;
    max-width: 1200px;
    height: 344px;
    top: 172px;
    left: 135px;
    gap: 0px;
    opacity: 0px;
    background: #000000;
        .apl{
          margin-top: -20px;
            .ap{
            /* Title/16PX Regular */
            display: flex;
            align-items: center;
            gap: 24px;
            padding-top: 58px;
            padding-left: 64px;
            color: rgb(250, 250, 250);
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
          }
          .tx{
            /* Heading/48PX SemiBold */
            color: rgb(250, 250, 250);
            font-family: Inter;
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            letter-spacing: 4%;
            padding-top: 34px;
            padding-left: 64px;
          }
        }
  }
  .browse{
    max-width: 1200px;
    height: 344px;
    margin-top: 94px;
    margin-left:-60px;

    .cate{
      display: flex;
      align-items: center;
      gap: 16px;
    }
    h6{
      //styleName: Heading/36PX SemiBold;
      font-family: Inter;
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: 0.04em;
      text-align: left;
      padding-top: 35px;

    }
  }
  .cards{
    margin-left: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: -150px;
    .card{
      width: 170px;
      height: 145px;
      padding: 25px 56px 24px 55px;
      gap: 25px;
      border-radius: 4px 0px 0px 0px;
      border: 1px 0px 0px 0px;
      opacity: 0px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transition: 0.3s;
        &:hover{
          background: #DB4444;
        }
      p{
      
          color: rgb(0, 0, 0);
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
          text-align:center;
      }
    }
  }
.bts{
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  left: 1010px;
  top: -250px;
  button{
    /* Secondary */
    background: rgb(245, 245, 245);
    border-radius: 50px;
    width: 46px;
    height: 46px;

  }
}
.api-cards {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-left: -70px;
  margin-top: -140px;

  
  .product-card {
    width: 270px;
    height: 300px;
    gap: 16px;
    opacity: 0px;
    border-radius: 4px;
    background: rgb(245, 245, 245);
    &:hover{
      box-shadow: 30px 25px 30px rgba(0, 0, 0, 0.1);
    }
    
    img {
      transform: translate(45%, 20%);
      width: 150px;
      height: 180px;
    }
    
    #heart {
      /* Primary */
      background: rgb(255, 255, 255);
      width: 34px;
      height: 34px;
      position: relative;
      left: 60px;
      top: -120px;
    }
    
    #koz {
      background: rgb(255, 255, 255);
      width: 34px;
      height: 34px;
      position: relative;
      left: 22px;
      top: -80px;
    }
    
    .star {
      h6 {
        /* styleName: Title/16PX Medium; */
        /* Title/16PX Medium */
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      
  
    }
  }
}
.rey{
  display: flex;
  align-items: center;
  gap: 8px;
  #r2 {
    color: rgb(219, 68, 68);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    // background: rgb(219, 68, 68);
  }
}
#h33{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  //styleName: Title/16PX Medium;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

}
.btr{
 padding-left: 400px;
 padding-bottom: 70px;
  button{
    width: Hug (234px)px;
    height: Hug (56px)px;
    padding: 16px 48px 16px 48px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #DB4444;
    color: #fff;
    border: none;
    cursor: pointer;
    &:focus{
      background: #f98b8b;
    }
  }
}
.catigories{
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      flex-wrap: wrap;
        margin-left: -50px;
      width: 1170px;
      background: rgb(0, 0, 0);
      margin-bottom: 200px;
      .your{
        p{
          padding-top: 69px;
          padding-left: 56px;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          text-align: left;
          color: #00FF66;
        }
        #enh{
          font-family: Inter;
          font-size: 48px;
          font-weight: 600;
          line-height: 60px;
          letter-spacing: 0.04em;
          text-align: left;
          color: #fff;
        }
      }
}
.beg{
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left:45px;  
  padding-top: 32px;
  .sricle{
    width: 62px;
height: 62px;
background: #fff;
border-radius: 50%;
text-align: center;
p{
  /* Title/16PX Semibold */
color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
padding-top: 7px;
}
#day{
  color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 11px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
}
 }

}
.bth{
  padding-left: 46px;
  padding-top: 75px;
  padding-bottom: 69px;
  button{
    width: Hug (171px)px;
    height: Hug (56px)px;
    top: 375px;
    left: 56px;
    padding: 16px 48px 16px 48px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #00FF66;
    color: #fff;
    cursor: pointer;
        &:hover{
          background: #7bffb2;
          
        }
  }
}

.fot-bt{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 80px;

  margin-top: -102px;
      width: 1170px;
      height: 768px;
    .play-st{
     max-width:570px;
      height: 670px;
      gap: 0px;
      border-radius: 4px 0px 0px 0px;
      opacity: 0px;
      background: #000;
      padding-left: 50px;
      margin-top: -120px;

      h3{
        //styleName: Heading/24PX SemiBold;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #fff;
        padding-bottom: 16px;
      }
      p{
        //styleName: Title/14PX Regular;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #fff;
        padding-bottom: 72px;

      }
      button{
        //styleName: Title/16PX Medium;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          cursor: pointer;
          color: #fff;
          border: none;
          background: none;

      }

    }
}
.wm{
  padding-left: 30px;
  margin-top: -119px;
  .wmn{
    .ert{
      margin-top: -150px;
      margin-left: 20px;
    }
    img{
      width: 570px;
      }
      h3{
        /* Heading/24PX SemiBold */
        color: rgb(250, 250, 250);
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 3%;
        text-align: left;
        padding-bottom: 16px;
        color: #fff !important;
      }
      p{
        /* Title/14PX Regular */
        color: rgb(250, 250, 250);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 16px;
      }
      button{
          color: rgb(255, 255, 255);
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: left;
          border: none;
          background: none;
          cursor: pointer;
      }

    
  }
}
.dyn{
  margin-top: -20px;
  .speak{
    width: 270px;
    height: 264px;
    margin-top: 50px;
    border-radius: 4px;
    padding-top: 31px;
    padding-left: 40px;

/* Text2 */
background: rgb(0, 0, 0);
    img{
      width: 190px;
    }
  }
}
.bef{
  margin-top: -100px;
  margin-left: -20px;
  h3{
    /* Heading/24PX SemiBold */
color: rgb(250, 250, 250);
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
  }
  p{
    /* Title/14PX Regular */
color: rgb(250, 250, 250);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;

  }
}

.ppq{
  margin-top: -315px;
  margin-left: 300px;
}


}



















// login startttttttttttttttttttttttttttttttttttttttttttttttttttttt

.wrr{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 180px;
  .tel{
    padding-top: 152px;
    margin-left: -178px;
    max-width: 919px;
  }
  .login{
    margin-top: -10px;
  }

  .enter{
    padding-top: -180px;
    h3{
      /* Heading/36PX Medium */
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 36px;
font-weight: 500;
line-height: 30px;
letter-spacing: 4%;
text-align: left;
padding-bottom: 24px;
    }
    p{
      /* Title/16PX Regular */
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 48px;
    }
  }
form{
  #text{
    //styleName: Title/16PX Regular;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      border: none;
      padding-bottom: 18px;
      outline: none;
  }
  #pass{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border: none;
    padding-bottom: 18px;
    outline: none;
  }
  .line{
    /* Line 1 */
width: 270px;
height: 0;
left: 0;
top: -0.5px;
/* Text2 */
border: 1px solid rgb(0, 0, 0);
  }
}
.rtn{
  display: flex;
  align-items: center;
  gap: 57px;
  padding-top: 40px;
  button{
    width: Hug (143px)px;
    height: Hug (56px)px;
    padding: 16px 48px 16px 48px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: rgb(219, 68, 68);
    color: #fff;
    border: none;
  }
  a{
    //styleName: Title/16PX Regular;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color:#DB4444;

  }
}
}
// login enddddddddddddddddddddddddddddddddddddddddd

// admin starttttttttttttttttttttttttttttttttttttttttttttt

.admin{
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
  .ad-top{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 800px;
    a{
      text-decoration: none;
      color: #000;
      /* Title/14PX Regular */
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
  &:hover{
    color: gray;
  }
    }
    #aq{
      color: gray;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0%;
      text-align: left;
        &:hover{
          color: #000;
        }
    }
  }
  .well{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    #aw{
      color: red;
      /* Title/14PX Regular */
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
.myaccaunt{
  padding-top: 44px;
  padding-left: -100px;

  h4{
    //styleName: Title/16PX Medium;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-bottom: 16px;
    cursor: pointer;
  }
  .myp{
    padding-left: 40px;
    p{
      /* Title/16PX Regular */
      color: rgb(0, 0, 0);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
      color: gray;
      padding-bottom: 8px;
      cursor: pointer;
  &:hover{
    color: rgb(219, 68, 68);
  }
    }
  }
} 

.edit{
  margin-left: 334px;
  margin-top: -280px;
  width: 870px;
  height: 630px;
  top: 323px;
  left: 435px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  // background: lightgreen;
    p{
      padding-top: 40px;
      padding-left: 80px;
      //styleName: Title/20PX Medium;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #DB4444;

    }
    #fr-ln{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 36px;
      // gap: 20px;
      input{
        width: 330px;
        height: 50px;
        gap: 0px;
        opacity: 0px;
        outline: none;
        border-radius: 4px;
        background:rgb(245, 245, 245);
        border: none;

      }
         #la{
          margin-top: -75px;
          position: relative;
          left: 85px;
          /* Title/16PX Regular */
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
         }
         #laa{
          position: relative;
          top: -40px;
          left: 85px;
          /* Title/16PX Regular */
          color: rgb(0, 0, 0);
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: left;
         }
    }

}
.ints{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
  form{
    h5{
      margin-top: 20px;
      // padding-top: 96px;
      padding-left: 4px;
      /* Title/16PX Regular */
      color: rgb(0, 0, 0);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
    }
    input{
        width: 710px;
        height: 50px;
        border-radius: 4px;
        background: rgb(245, 245, 245);
        outline: none;
        border: none;
        margin-bottom: 16px;
    }
  }
  .cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-left: 340px;
    padding-bottom: 180px;
    p{
     /* Title/16PX Regular */
      color: rgb(0, 0, 0);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
    }
    button{
      margin-top: 15px;
      width: 214px;
      height: 56px;
      border-radius: 4px;
      background: rgb(219, 68, 68);
      border: none;
      color: #fff;
    }
  }
}
}

// admin endeddddddddddddddddddd


















.footer {
  margin-top: 200px;
  background-color:#000000;
  color: #fff;
  height: 440px;
  .container1{

   .row{
       display: flex;
       align-items: center;
       margin-left: -75px;
       padding-top: 80px;
       text-decoration: none;
       gap: 87px;
          .bt-top{
            //styleName: Heading/24PX Bold;
                font-family: Inter;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.03em;
                text-align: left;
                padding-bottom: 24px;
          }
          .prp{
            h6{
              //styleName: Title/20PX Medium;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                text-align: left;
                padding-bottom: 17px;
                  p{
                    //styleName: Title/16PX Regular;
                      font-family: Poppins;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 24px;
                      text-align: left;
                      padding-bottom:20px;

                  }
                  form{
                    input{
                      width: Fixed (217px)px;
                      height: Hug (48px)px;
                      padding: 12px 0px 12px 16px;
                      gap: 32px;
                      border-radius: 4px 0px 0px 0px;
                      border: 1.5px 0px 0px 0px;
                      opacity: 0px;
                    }
                    img{
                      position:relative;
                      padding-top: 20px;
                    }
                  }
            }
          }
      }

    }
  }


